.contener{
  position: relative;
 
}
.main{
  position:absolute;
  top: 80px;
  left: 40%;
  box-shadow: 0px 2px 3px 0 #c6c5c5;
  padding: 10px;
}
.contener .form input{
  display: block;
  padding: 5px;
  width: 300px;
  border: none;
  margin-bottom: 7px;
  outline-width: 1px;
  outline-color: rgb(172, 172, 172);
  box-shadow: 1px 1px 1px 0 #c6c5c5;

}
.contener .form button{
  text-align: center;
  margin-left: 35%;
  width: 100px;

}
.contener .data p{
  padding: 5px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgb(232, 232, 232);
  
}
.contener .data p:first-of-type{
  margin-top: 10px;
}